{% extends "layout.html" %}

{% block body %}
<h3>Kontrol Paneli</h3>
<hr>
<p>
    Hoş Geldiniz, <small>{{request.user.username}}</small>
</p>
<hr>
<a class="btn btn-danger" href="{% url 'article:addarticle' %}">Makale Ekle</a>
<hr>

{% if articles %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Başlık</th>
        <th scope="col">Yazar</th>
        <th scope="col">Tarih</th>
        <th scope="col">Güncelle</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
        {% for i in articles %}
        <tr>
            <td><a href="{% url 'article:detail' i.id %}">{{i.title}}</a></td>
            <td>{{i.author.username}}</td>
            <td>{{i.created_date}}</td>
            <td><a href="{% url 'article:update' i.id %}" class="btn btn-success">Güncelle</a></td>
            <td><a href="{% url 'article:delete' i.id %}" class="btn btn-danger">Sil</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-danger">
    Henüz bir makaleniz bulunmuyor...
</div>
{% endif %}
{% endblock body %}